/* Styles pour le header et le menu desktop */
.menu-container-desktop {
  display: flex;
  justify-content: space-between; /* espace entre le menu et le bouton */
  align-items: center; /* centrer verticalement */
  width: 100%;
  padding: 0 20px; /* Ajouter un peu de padding pour la marge */
}

.menu-desktop {
  display: flex;
  justify-content: center; /* Centrer les éléments du menu */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 0 15px; /* Espacement entre les éléments du menu */
  cursor: pointer;
}

.seller-access-container {
  margin-left: auto; /* Pousse le bouton à droite */
}

.access-seller-btn {
  padding: 10px 20px;
  background-color: #4CAF50; /* Couleur de fond du bouton */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.access-seller-btn:hover {
  background-color: #45a049; /* Couleur au survol */
}
