/* Par défaut, masquer le menu desktop sur mobile */
.menu-container-desktop {
  display: none; /* Masquer par défaut */
}

.menu-desktop {
  display: flex;
  justify-content: center; /* Centrer les éléments du menu */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 0 15px; /* Espacement entre les éléments du menu */
  cursor: pointer;
}

.seller-access-container {
  margin-left: auto; /* Pousse le bouton à droite */
}

.access-seller-btn {
  padding: 10px 20px;
  background-color: #4CAF50; /* Couleur de fond du bouton */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.access-seller-btn:hover {
  background-color: #45a049; /* Couleur au survol */
}

/* Afficher le menu desktop seulement sur les grands écrans */
@media (min-width: 768px) {
  .menu-container-desktop {
    display: flex; /* Afficher le menu desktop sur les écrans plus grands */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .menu-desktop {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
