/* Par défaut, afficher uniquement le menu mobile sur les petits écrans */
.menu-container-mobile {
  display: block; /* Afficher le menu mobile sur les petits écrans */
}

.menu-container-desktop {
  display: none; /* Masquer le menu desktop par défaut */
}

/* Afficher le menu mobile seulement sur les petits écrans */
@media (max-width: 767px) {
  .menu-container-mobile {
    display: block; /* Afficher le menu mobile sur les petits écrans */
  }

  .menu-container-desktop {
    display: none; /* Masquer le menu desktop sur les petits écrans */
  }
}
